<div>
<hr>
<div *ngIf="!editionMode">
    <dl>
        <dt>Order Number:</dt>
        <dd>{{orderDetails.orderNumber}}</dd>
        <dt >Deliver Address: </dt>
        <dd class="overflow-auto">{{orderDetails.deliverAddress}}</dd>
        <dt>Billing Address:</dt>
        <dd class="overflow-auto">{{orderDetails.billingAddress}}</dd>
        <dt>Order Amount:</dt>
        <dd>{{orderDetails.orderAmount}}€</dd>
        <dt>Items:</dt>
        <dd *ngFor="let item of orderDetails.items">
            <p><b>{{item.name}}</b> - {{item.priceEUR}}€</p>
            <ul>
                <li>Ram: {{item.ramGB}} Gb</li>
                <li>Graphic Card: {{item.graphicCard}}</li>
                <li>Processor: {{item.processor}}</li>
                <li>Storage: {{item.storageGB}} Gb</li>
                <li>ScreenWidth: {{item.screenWidth}}cm</li>
                <li>Weight: {{item.weightKg}} Kg</li>
            </ul>
        </dd>
        <dt>Company Name:</dt>
        <dd class="overflow-auto">{{orderDetails.companyName}}</dd>
    </dl>
    <div>
        <button id="editButton" (click)="editOrder()">Edit</button>
        <button id="deleteButton" (click)="deleteOrder()">Delete</button>
    </div>
</div>
  <div *ngIf="editionMode">
      <app-order-creator [orderDetails]="orderDetails" (closeMenu)="closeWindow()"></app-order-creator>
  </div>
    <hr>
</div>


